.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  margin: 2px;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-style: 2px solid black;
}

.clock-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 12px;
}

.clock-timer {
  font-size: 36px;
  margin-top: 60px;
}

.clock-state {
  /* background-color: cornflowerblue; */
  padding: 15px;
  min-width: 130px;
}
